.App {
  text-align: center;
}



#drawnCards {
  position: absolute;
  top: 30%;
  left: 5%;
}

.cardImage {
  position: relative;
  left: 5%;
}

.higherButton {
  border-radius: 4px;
  position: absolute;
  left: 43%;
  top: 15%;
  size: 10%;
  height: 50px;
  width: 100px;
  background-color: #555555;
  color: #e7e7e7;
  border-radius: 4px;
  transition-duration: 0.4s;
}

.lowerButton {
  border-radius: 4px;
  position: absolute;
  left: 53%;
  top: 15%;
  size: 10%;
  height: 50px;
  width: 100px;
  background-color: #555555;
  color: #e7e7e7;
  border-radius: 4px;
  transition-duration: 0.4s;
}

.cardTitle {
  position: absolute;
  top: 18%;
  left: 5%
}

.stats {
  position: absolute;
  top: 12%;
  left: 5%
}

.higherButton:hover {
  background-color: #2d2c2c;

}

.lowerButton:hover {
  background-color: #2d2c2c;
}